@font-face {
  font-family: 'ubuntu';
  src: url('/static/ubuntu.ttf') format('truetype');
}


@font-face {
  font-family: 'cursive';
  src: url('/static/cursive.ttf') format('truetype');
}





body {
    background: #011627;
    color: #fafafa;
    margin-top: 5rem;
    font-family: ubuntu;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fafafa;
    font-family: ubuntu;
  }
  
  .rose {
    background-color: #b90202;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #dbcbcc;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #CAA8F5;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #011627;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }


  .titre{
    font-family: normal;
    font-weight: bolder;
    font-size: 200;
    color:#CAA8F5;
  }
  
  .article-title {
    color: #fafafa;
  }
  
  a.article-title:hover {
    color: #CAA8F5;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .vert{
    background-color: #36F1CD;
    color:#fafafa;
  }

  a{
    color:#f39da4;
  }